html, body {
    font-family: 'Kreon', serif;
    background-color: rgb(247, 245, 230);
    color: rgb(18, 51, 74);
}

ul {
    list-style-type: none;
}

.img-card {
    border-radius: 6px;
}

img {
    width: 100%;
    border-radius: 6px 6px 0 0;
    height: 200px;
    object-fit: cover;
    border: 2px solid rgb(18, 51, 74);
}

.img-body {
    background-color: white;
    border-radius: 0 0 6px 6px;
}

.img-title {
    font-size: 1rem;
}

.img-btn {
    background-color: rgb(18, 51, 74);
    color: rgb(247, 245, 230);
    border: none;
    border-radius: 15px;
    padding: 0.2rem 1.2rem;
    font-size: 0.8rem;
}